<section class="w-100 min-vh-100 bg-light pt-4 all">
    <h1 class="text-center title">
        To-Do List
        <mat-icon class="title__icon">assignment_turned_in</mat-icon>
    </h1>

    <main class="w-100 h-100 pt-5 content text-center">
        <app-vmessage *ngIf="isTaskEquals" message="Ja existe pelo menos uma task com este conteúdo."></app-vmessage>
        <div class="input-group m-auto mb-5 content__input">
            <textarea (keyup)="verifyTaskExists()" [(ngModel)]="task.taskContent" class="form-control content__input-textarea" placeholder="Digite aqui sua tarefa..."
                aria-label="Area para digitar a tarefa"></textarea>
            <button [disabled]="disabled" class="content__input-button" (click)="saveTask()" pointer>
                <mat-icon >add</mat-icon>
            </button>
        </div>

        <section class="content__tasks">
            <div class="m-auto mb-4 content__task" *ngFor="let task of tasks.reverse()">
                <div class="content__task-text" [ngClass]="{'done': task.done} ">
                    <p>{{task.taskContent}}</p>
                </div>
                <div class="content__task-actions">
                    <mat-icon class="content__task-actions__done" pointer *ngIf="!task.done" (click)="taskDone(task)">done_outline</mat-icon>
                    <mat-icon class="content__task-actions__back" pointer *ngIf="task.done" (click)="taskDone(task)">reply_all</mat-icon>
                    <mat-icon class="content__task-actions__edit" pointer>edit</mat-icon>
                    <mat-icon class="content__task-actions__delete" pointer (click)="deleteTask(task)">delete</mat-icon>
                </div>
            </div>       
        </section>
    </main>
</section>


