@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600&display=swap");

.all {
  font-family: "Comfortaa", cursive;
}

.title {
  font-weight: bolder;

  &__icon {
    transform: scale(2);
    margin-left: 10px;
  }
}

.content {
  &__input {
    width: max(50%, 300px) !important;

    &-textarea {
      resize: vertical;
      max-height: 200px;
      font-size: 18px;
    }

    &-textarea:focus::placeholder {
      opacity: 0;
    }

    &-textarea:focus {
      box-shadow: inset 0 -1px 0 rgb(91, 91, 91) !important;
    }

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: rgb(231, 231, 231);
      border-radius: 5px;
      border: none;
      width: 10%;
    }

    &-button:disabled {
      cursor: auto !important;
    }
  }

  &__tasks {
    width: 100%;
    height: auto;
    padding-bottom: 20px;
  }

  &__task {
    width: max(50%, 300px) !important;
    background-color: rgb(255, 255, 255);
    display: flex;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px 2px rgb(201, 201, 201);
    font-size: 15px;
    opacity:.9;

    &-text {
      padding-right: 10px;
      text-align: start;
      width: 100%;
    }

    &-actions {
      display: flex;
      flex-direction: column;
      justify-content: center;

      &__done {
        color: rgb(2, 224, 2);
        opacity: .6;
      }
      &__edit {
        color: rgb(151, 151, 151);
        opacity: .6;
        margin: 15px 0;
      }
      &__delete {
        color: rgba(208, 1, 1, 0.817);
        opacity: .6;
      }

      &__done:hover,
      &__edit:hover,
      &__delete:hover{
        opacity: 1;
      }

    }
  }

  &__task:hover {
    box-shadow: 2px 2px 7px 2px rgb(186, 186, 186);
    transform:scale(1.01);
    transition: .2s;
    opacity:1 ;
  }
}
